.photo-uploader {

}

.photo-uploader__add-button {
    display: flex;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    align-items: center;
    font-size: 32px;
    height: 160px;
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-width) solid var(--tg-theme-hint-color);
    color: var(--tg-theme-text-color);
}

.photo-uploader__input {
    display: none;
}

.photo-uploader__selected-photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.preview-container__photo  {
    border-radius: var(--bs-border-radius);
    height: 160px;
    background-color: rgba(0, 0, 0, 0.3);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
}

.preview-container__photo img {
    border-radius: var(--bs-border-radius);
    height: 160px;
}

.preview-container__photo .delete {
    border-radius: var(--bs-border-radius);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(128, 128, 128);
    width: 20px;
    height: 20px;
    top: 5px;
    right: 5px;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 998px) {
    .preview-container__photo {
        height: 120px;
    }

    .preview-container__photo img {
        height: 120px;
    }

    .photo-uploader__add-button {
        height: 120px;
    }
}

@media screen and (max-width: 500px) {
    .preview-container__photo {
        height: 80px;
    }

    .preview-container__photo img {
        height: 80px;
    }

    .photo-uploader__add-button {
        height: 80px;
    }
}
