@import "./ui/photo-uploader/style.css";

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--tg-theme-bg-color) !important;
}

.collage__images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.collage__image {
    width: 64px;
    height: 64px;
}


.collage__title {
    margin-top: 15px;
    color: var(--tg-theme-text-color);
    font-size: 14px;
    font-weight: 500;
    margin-block-end: 5px;
}

.invalid-field {
    margin-block-end: 5px;
    margin-block-start: 5px;
    color: red;
    font-size: 14px;
}

.page-title {
    color: var(--tg-theme-text-color);
    text-align: center;
    margin-bottom: 30px;
}

.form-group {
    margin-bottom: 25px;
}

.form-group__title {
    color: var(--tg-theme-text-color);
    font-size: 18px;
    font-weight: 500;
}

.form-group__description {
    color: var(--tg-theme-hint-color);
    font-size: 14px;
    font-weight: 400;
    margin-block-start: 8px;
    margin-block-end: 6px;
}

.type_announcement {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.type_announcement__item {
    width: 100%;
}

.type_announcement__item input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.type_announcement__item label {
    display: block;
    cursor: pointer;
}

.form-group input[type="radio"]:checked + label .radio-label {
    background-color: var(--tg-theme-button-color);
    border-color: var(--tg-theme-button-color);
    color: #fff;
}

.radio-label {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: center;
    user-select: none;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1;
    border-radius: var(--bs-border-radius);
    border: var(--bs-border-width) solid var(--tg-theme-hint-color);
    color: var(--tg-theme-text-color);
}

/* Estate type styles */

.estate_types {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.estate_types__item {
    width: 100%;
}

.estate_types__item input[type="radio"] {
    position: absolute;
    visibility: hidden;
}

.estate_types__item label {
    display: block;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .estate_types {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Estate includes styles */
.estate_includes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.estate_includes__item {
    width: 100%;
}

input[type="checkbox"] {
    position: absolute;
    visibility: hidden;
}

.estate_includes__item label {
    text-align: center;
    display: block;
    cursor: pointer;
}

.estate_includes__item .radio-label {
    height: 60px;
}

input[type="checkbox"]:checked + label .radio-label {
    background-color: var(--tg-theme-button-color);
    border-color: var(--tg-theme-button-color);
    color: #fff;
}

.video {
    width: 100%;
    height: 300px;
}

@media screen and (max-width: 576px) {
    .estate_includes {
        grid-template-columns: repeat(2, 1fr);
    }
}
