* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--tg-theme-bg-color) !important;
}

/* Изменение стилей bootstrap */

ol, ul {
    padding-left: 1rem !important;
}

.form-control {
    box-shadow: none !important;
    background-color: var(--tg-theme-bg-color) !important;
    color: var(--tg-theme-text-color) !important;
    border-color: var(--tg-theme-text-color) !important;
    border: var(--bs-border-width) solid var(--tg-theme-hint-color) !important;
}

.form-control:focus {
    box-shadow: none !important;
    background-color: var(--tg-theme-bg-color) !important;
    color: var(--tg-theme-text-color) !important;
    border-color: var(--tg-theme-button-color) !important;
}

form .form-control::-webkit-input-placeholder {
    color: #808080;
}

form .form-control::-moz-placeholder {
    color: #808080;
}
form .form-control:-ms-input-placeholder {
    color: #808080;
}
form .form-control:placeholder {
    color: #808080;
}

textarea {
    resize: none !important;
}

.btn {
    font-size: 18px !important;
    background-color: var(--tg-theme-button-color) !important;
    color: var(--tg-theme-button-text-color) !important;
    margin-bottom: 30px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}
